container_commands:
  01_migrate:
    command: "django-admin.py migrate --noinput"
    leader_only: true

  02_migrate:
    command: "django-admin.py collectstatic --noinput"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: lookFab/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: lookFab.settings


