{% extends 'admin/adminHomepage.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load humanize %}

{% block add_event %}
{% endblock add_event %}

{% block events_won %}
{% endblock events_won %}

{% block transactions %}

<div class="col-md-12 view-events">
<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <!--<h3 style="margin:15px 0px 5px 0px;">

                % for msg in messages %}
                    <script>
                        function show_alert(){
                        var alert = '<p style="color:red;" class="text-{ msg.tags }} bg-{{ msg.tags }}">{{ msg }}</p>';
                        document.write(alert);
                        }
                        display = window.setTimeout(show_alert(), 1000);
                        window.clearTimeout(display);
                    </script>
                % endfor %}
            </h3>-->
            <h3 class="box-title">Category Manager</h3>
            <div class="table-responsive">

              

                <table id="generalDatatable" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>S/n</th>
                            <th>Name</th>
                            <th>Date Created</th>
                            <th>Amount($)</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                    {% for item in all_items %}
                        <tr>
                            
                            <td>{{item.pk}}</td>
                            <td>{{item.user}}</td>
                            <td>{{item.date}}</td>
                            <td>{{item.amount}}</td>
                             
                        </tr>
                    {% endfor %}  
                    </tbody>
                </table>

                    
             
            </div>
        </div>
    </div>
</div>
</div>
 
{% endblock transactions %}
